body {
	display: flex;
	font-family: 'Muli', sans-serif;

	h1 {
		text-align: center;
	}
}

#container {
	margin: 0 auto;
	padding: 20px;
	min-width: 40%;

	form {
		display: flex;

		#list-input {
			flex: 1;
		}
	}

	#list-container {
		padding: 0;
    list-style-type: none;

    li {
    	padding: 10px;
	    background-color: aliceblue;
	    border-radius: 5px;
			margin: 10px 0px;
    }
	}

}