$font: 'Muli', sans-serif;
$color-dark: #333333;
$color-list-item: #EEEBE6;

$color-list-button: #E7DED1;
$color-delete-hover: #CF4E44;
$color-edit-hover: #d8cfc3;

$color-button: #A7CFCE;
$color-hover: #83BBB4;
/*
https://www.design-seeds.com/wander/sea/color-sea-40/
https://www.design-seeds.com/seasons/autumn/color-season-7/
*/

body {
	display: flex;
	font-family: $font;
	color: $color-dark;

	h1 {
		text-align: center;
	}
}

#container {
	margin: 0 auto;
	padding: 20px;
	min-width: 40%;

	form {
		display: flex;

		#list-input {
			flex: 1;
			padding: 10px;
		    border-radius: 5px;
		    border: 1px solid $color-dark;
		    font-family: $font;
		}

		button {
			border-radius: 5px;
			margin-left: 5px;
			border: 1px solid $color-dark;
			background-color: $color-button;
			color: $color-dark;

			&:hover {
				background-color: $color-hover;
			}
		}

	}

	#list-container {
		padding: 0;
    	list-style-type: none;

	    li {
	    	padding: 10px;
		    background-color: $color-list-item;
		    border-radius: 5px;
				margin: 10px 0px;
				min-height: 20px;
	    }

	    button {
	    	float: right;
	    	background-color: $color-list-button;
		    border: none;
		    border-radius: 5px;
				padding: 5px 10px;
				height: 24px;
    		width: 30px;
	    }

	    .delete-btn {
	    	margin: -2px 0px 2px 2px;

	    	&:hover {
	    		background-color: $color-delete-hover;
	    	}
	    }

	    .edit-btn {
	    	margin: -2px 2px;

	    	&:hover {
	    		background-color: $color-edit-hover;
	    	}
	    }
	}

}

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$smartphone: "(max-width: 768px)";

@media #{$tablet} {
	#container {
		min-width: 60%;
	}
}

@media #{$smartphone} {
	#container {
		min-width: 90%;
	}
}